.about-container{
    width: 90%;
  

    margin: auto;
    margin-top: 5rem;
    background-color: white;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 8px;
    /* background-color: yellow; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: #192a56 11px solid;

}
@media(max-width:600px){
    .about-container{
        width: 90%;
    }
}

.container-left{
    width: 49%;
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
    height: auto;
    /* background-color: blue; */
   
  
}
@media(max-width:900px){
    .container-left{
      width: 98%;
    }
}

.info-container{
 
    display: flex;
    flex-wrap: wrap;
    line-height: 50px;
    padding-left: 20px;
    box-shadow: powderblue;
     
}
.info-container img{
    border: gray solid 1px;
    margin-top: 2rem;
    margin-right: 1rem;
    border-radius: 15px;
}


.info{
    line-height: 50px;
   
}

    

.skill-container{
   
    padding-left: 30px;
    padding-bottom: 30px;
    line-height: 180%;
}


.skill-container h5{
    font-size:1rem;
    margin-top: 5rem;
    margin-bottom: .5rem;
}
.skill-container progress{
    margin-bottom: 15px;
   color:   #f9004d;
}

span{
    font-weight: 700;
    
}
.container-right{
 
    width: 49%;
    float: right;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    /* background-color: red; */
   
   
    

}
@media (max-width:900px){
    .container-right{
        width: 98%;
    }
}
.container-right h3 {
  
    margin-bottom: 30px;
    

}
.container-right .about-text{
    gap: 3rem;
}
.container-right p{
    font-size: 1rem;
    line-height: 120%;
    padding-bottom: 1.5rem;

}


